.count {
    padding-bottom: 96px;
    &-container {
        padding: 67.5px 0;
        position: relative;
        box-shadow: 0 42px 114px 0 rgba(13, 16, 37, 0.064);
        border-radius: 10px;

        @include breakpoint-down(md) {
            padding: 36px 0;
        }
    }

    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0 36.5px;
        position: relative;

        @include breakpoint-down(md) {
            flex-direction: column;
        }

        &:not(:last-child)::after {
            position: absolute;
            content: "";
            height: calc(200px - (37px * 2));
            width: 2px;
            background-color: #EEEFF2;
            right: 0;
        }   
    }

    &-number {
        margin-bottom: 5px;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 30px;
        color: $heading-color;

        @include breakpoint-down(md) {
            margin-top: 12px;
        }
    }
    &-text {
        font-size: 2rem;
        line-height: 30px;
    }
}